*{
    margin : 0;
    padding: 0;
    font-family: font-family: 'Shadows Into Light', cursive;
    box-sizing: border-box;
    background-color: black;
    /*animation : example 10s infinite linear;*/
    animation-name:example;
    animation-duration:8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: flex;
    justify-content: center;
}


form{
margin-top: 25vh;
display: table;


}
section .box{
    width: 230px;
    height : 40vh;
    align-items: center;
}
.box input[type = "text"], .box input[type = "email"], .box input[type = "number"], .box input[type = "date"]{
  width : 225px;
  height : 20px;
  margin : 10px 4px 4px 4px;
  padding : 15px 5px;
  border: 2px solid #09fbd3 ;
  border-radius: 10px;
}
::placeholder{
  color:grey;
  font-size: 15px;
}

.box input[type = "date"]{
  color : grey;
  font-size: 15px;
}
input, select, textarea{
    color: white;
}

.box input[type = "submit"]{
    background-color: #14FFB1;
    width : 130px;
    height : 35px;
    border-radius: 45px;
    color: grey;
    text-align :center;
    padding: 10px 15px;
    text-decoration: none;
    margin: 20px 0 0px 45px ;
    cursor: pointer;
}


/*@keyframes example {
  /*0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}*/
  from{background-color:lightblue;}
  to{background-color: yellow;}
}
